
 <form [formGroup]="form" class="container mt-4">

    <div class="row align-items-center">

      <!-- <div class="form-group col-md-3">
        <label for="fields" class="form-label"></label>
        <ng-select
          [items]="listOfItems"
          bindValue="name"
          bindLabel="name"
          [multiple]="true"
          placeholder="Select Fields"
          formControlName="fields"
          class="w-100"
        >
          <ng-template>
            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-link" (click)="onSelectAll()">Select All</button>
              <button type="button" class="btn btn-link" (click)="onClearAll()">Clear All</button>
            </div>
          </ng-template>
        </ng-select> 
      </div> -->

      <div class="form-group col-md-4 col-sm-12">
        <label for="fields" class="form-label" style="font-size: 14px;">Select Graph Flag:</label>
        <ng-select 
          class="form-control small-input"
          [multiple]="true"
          [items]="listOfItems"
          bindLabel="name"  
          bindValue="name"
          [(ngModel)]="selectedFields"
          [placeholder]="selectedFields.length ? '' : 'please select input for graph'"  
          [closeOnSelect]="false"
          
          formControlName="fields" >
        </ng-select>
      </div>
      <!-- [dropdownOpen]="isDropdownOpen"
          (change)="onChange()" 
          (click)="toggleDropdown()" -->
      

      <div class="form-group col-md-3 col-sm-12">
        <label for="startDateTime" class="form-label" style="font-size: 14px;">Start Date:</label>
        <input
          type="datetime-local"
          id="startDateTime"
          class="form-control small-input"
          formControlName="startDateTime"
        />
      </div>
  
      <div class="form-group col-md-3 col-sm-12">
        <label for="endDateTime" class="form-label" style="font-size: 14px;">End Date:</label>
        <input
          type="datetime-local"
          id="endDateTime"
          class="form-control small-input"
          formControlName="endDateTime"
        />
      </div>

      <div class="col-md-2 mt-4 col-sm-12" style="padding-left: 60px;">
        <div class="col-md-12 d-flex justify-content-start">
          <button
            type="button"
            class="btn btn-sm btn-primary me-2"
            (click)="download()"
          >
            Download
          </button>
          <button
            type="submit"
            class="btn btn-sm btn-success"
            [disabled]="!form.valid"
            (click)="onSubmit()"
          >
            Submit
          </button>
        </div>
      </div>

    </div>
    
  </form>
  