.small-input {
    font-size: 12px;
    padding: 5px 10px;
  }
  .small-size {
    height: 35px; /* Adjust the height */
  }
  .p-multiselect {
    position: relative;
    z-index: 9999;  /* Adjust this value as needed */
  }