
 <h4 class="mb-4">UPS Monitoring Details</h4>
    <!-- <p-table
      class="p-0"
      [value]="data"
      [tableStyle]="{ 'min-width': '70rem' }"
      [rowExpandMode]="'single'"
      dataKey="devId"
    >
      
      <ng-template pTemplate="header">
        <tr class="rowHeader">
          <th></th>
          <th class="bar" style="text-align: center">Location</th>
          <th class="bar" style="text-align: center">Device ID</th>
          <th class="bar" style="text-align: center">UPS Failure</th>
          <th class="bar" style="text-align: center">Input Fault Voltage</th>
          <th class="bar" style="text-align: center">Bat Silence</th>
          <th class="bar" style="text-align: center">Bat Voltage</th>
          <th class="bar" style="text-align: center">Time Stamps</th>
          <th class="bar" style="text-align: center">UPS Test Active</th>
          <th class="bar" style="text-align: center">Output Load</th>
          <th class="bar" style="text-align: center">Output Voltage</th>
          <th class="bar" style="text-align: center">Input Frequency</th>
          <th class="bar" style="text-align: center">AC Input Failure</th>
          <th class="bar" style="text-align: center">Bat Low</th>
          <th class="bar" style="text-align: center">UPS Type</th>
          <th class="bar" style="text-align: center">Input Voltage</th>
          <th class="bar" style="text-align: center">UPS Bypass</th>
          <th class="bar" style="text-align: center">UPS Shutdown Active</th>
          <th >Temperature</th>
        </tr>
      </ng-template>  
      
      <ng-template pTemplate="body" let-rowData let-expanded>
        <tr class="rowData" style="width: 100px;">
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="rowData"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              class="p-button-rounded p-button-text"
            ></button>
          </td>
          <td style="text-align: center">Pune</td>
          <td style="text-align: center">{{ rowData.devId }}</td>
          <td style="text-align: center">{{ rowData.upsFailure }}</td>
          <td style="text-align: center">{{ rowData.inputFaultVoltage }}</td>
          <td style="text-align: center">{{ rowData.batSilence }}</td>
          <td style="text-align: center">{{ rowData.batVoltage }}</td>
          <td style="text-align: center">{{ rowData.timestamp }}</td>
          <td style="text-align: center">{{ rowData.upsTestActive }}</td>
          <td style="text-align: center">{{ rowData.outputLoad }}</td>
          <td style="text-align: center">{{ rowData.outputVoltage }}</td>
          <td style="text-align: center">{{ rowData.inputFreq }}</td>
          <td style="text-align: center">{{ rowData.acInputFailure }}</td>
          <td style="text-align: center">{{ rowData.batLow }}</td>
          <td style="text-align: center">{{ rowData.upsType }}</td>
          <td style="text-align: center">{{ rowData.inputVoltage }}</td>
          <td style="text-align: center">{{ rowData.upsBypass }}</td>
          <td style="text-align: center">{{ rowData.upsShutdownActive }}</td>
          <td style="text-align: center">{{ rowData.temperature }}</td>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="rowexpansion" let-rowData>
        <tr>
          <td colspan="18">
            <div class="expanded-content">
              <div class="radio-group">
                <label>
                  <input
                    type="radio"
                    name="tabOptions-{{ rowData.devId }}"
                    value="viewTab"
                    [(ngModel)]="currentTab"
                    (change)="switchTab('viewTab')"
                  />
                  View
                </label>
                <label>
                  <input
                    type="radio"
                    name="tabOptions-{{ rowData.devId }}"
                    value="analyticsTab"
                    [(ngModel)]="currentTab"
                    (change)="switchTab('analyticsTab')"
                  />
                  Analytics
                </label>
                <label>
                  <input
                    type="radio"
                    name="tabOptions-{{ rowData.devId }}"
                    value="historyTab"
                    [(ngModel)]="currentTab"
                    (change)="switchTab('historyTab')"
                  />
                  History
                </label>
              </div>
  
              <div class="tab-content">
                <div
                  class="tab-pane fade mb-5 mt-3"
                  [class.show]="currentTab === 'viewTab'"
                  [class.active]="currentTab === 'viewTab'"
                >
                  <app-view
                    *ngIf="currentTab === 'viewTab'"
                    [selectedDeviceId]="rowData.devId"
                  ></app-view>
                </div>
                <div
                  class="tab-pane fade mb-5 mt-3"
                  [class.show]="currentTab === 'analyticsTab'"
                  [class.active]="currentTab === 'analyticsTab'"
                >
                  <app-analytics
                    *ngIf="currentTab === 'analyticsTab'"
                    [selectedDeviceId]="rowData.devId"
                  ></app-analytics>
                </div>
                <div
                  class="tab-pane fade mb-5 mt-3"
                  [class.show]="currentTab === 'historyTab'"
                  [class.active]="currentTab === 'historyTab'"
                >
                  <app-history
                    *ngIf="currentTab === 'historyTab'"
                    [deviceId]="rowData.devId"
                  ></app-history>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      
    </p-table> -->
    
    <p-table [value]="data" [paginator]="true" [rowExpandMode]="'single'" [rows]="10">
      <ng-template pTemplate="header">
        <tr class="rowHeader">
          <th class="bar" style="text-align: center">Location</th>
          <th class="bar" style="text-align: center">Device ID</th>
          <th class="bar" style="text-align: center">UPS Failure</th>
          <th class="bar" style="text-align: center">Input Fault Voltage</th>
          <th class="bar" style="text-align: center">Bat Silence</th>
          <th class="bar" style="text-align: center">Bat Voltage</th>
          <th class="bar" style="text-align: center">Time Stamps</th>
          <th class="bar" style="text-align: center">UPS Test Active</th>
          <th class="bar" style="text-align: center">Output Load</th>
          <th class="bar" style="text-align: center">Output Voltage</th>
          <th class="bar" style="text-align: center">Input Frequency</th>
          <th class="bar" style="text-align: center">AC Input Failure</th>
          <th class="bar" style="text-align: center">Bat Low</th>
          <th class="bar" style="text-align: center">UPS Type</th>
          <th class="bar" style="text-align: center">Input Voltage</th>
          <th class="bar" style="text-align: center">UPS Bypass</th>
          <th class="bar" style="text-align: center">UPS Shutdown Active</th>
          <th style="text-align: center">Temperature</th>
        </tr>
      </ng-template>
    
      <ng-template pTemplate="body" let-rowData let-i="rowIndex">
        <tr class="rowData" style="width: 100px;" (click)="toggleRowExpansion(rowData)"> <!-- Toggle Button -->
          <td style="text-align: center">Pune</td>
          <td style="text-align: center">{{ rowData.devId }}</td>
          <td style="text-align: center">{{ rowData.upsFailure }}</td>
          <td style="text-align: center">{{ rowData.inputFaultVoltage }}</td>
          <td style="text-align: center">{{ rowData.batSilence }}</td>
          <td style="text-align: center">{{ rowData.batVoltage }}</td>
          <td style="text-align: center">{{ rowData.timestamp }}</td>
          <td style="text-align: center">{{ rowData.upsTestActive }}</td>
          <td style="text-align: center">{{ rowData.outputLoad }}</td>
          <td style="text-align: center">{{ rowData.outputVoltage }}</td>
          <td style="text-align: center">{{ rowData.inputFreq }}</td>
          <td style="text-align: center">{{ rowData.acInputFailure }}</td>
          <td style="text-align: center">{{ rowData.batLow }}</td>
          <td style="text-align: center">{{ rowData.upsType }}</td>
          <td style="text-align: center">{{ rowData.inputVoltage }}</td>
          <td style="text-align: center">{{ rowData.upsBypass }}</td>
          <td style="text-align: center">{{ rowData.upsShutdownActive }}</td>
          <td style="text-align: center">{{ rowData.temperature }}</td>
        </tr>
    
        <!-- Expanded Row Content -->
        <tr *ngIf="rowData.expanded">
          <td colspan="12">
            <div class="expanded-content">
              <div class="radio-group">
                <label>
                  <input
                    type="radio"
                    name="tabOptions-{{ rowData.devId }}"
                    value="viewTab"
                    [(ngModel)]="currentTab"
                    (change)="switchTab('viewTab')"
                  />
                  View
                </label>
                <label>
                  <input
                    type="radio"
                    name="tabOptions-{{ rowData.devId }}"
                    value="analyticsTab"
                    [(ngModel)]="currentTab"
                    (change)="switchTab('analyticsTab')"
                  />
                  Analytics
                </label>
                <label>
                  <input
                    type="radio"
                    name="tabOptions-{{ rowData.devId }}"
                    value="historyTab"
                    [(ngModel)]="currentTab"
                    (change)="switchTab('historyTab')"
                  />
                  History
                </label>
              </div>
    
              <div class="tab-content">
                <div
                  class="tab-pane fade mb-5 mt-3"
                  style="margin-right: 0; padding-right: 0;"
                  [class.show]="currentTab === 'viewTab'"
                  [class.active]="currentTab === 'viewTab'"
                >
                  <app-view
                    *ngIf="currentTab === 'viewTab'"
                    [selectedDeviceId]="rowData.devId"
                  ></app-view>
                </div>
                <div
                  class="tab-pane fade mb-5 mt-3"
                  [class.show]="currentTab === 'analyticsTab'"
                  [class.active]="currentTab === 'analyticsTab'"
                >
                  <app-analytics
                    *ngIf="currentTab === 'analyticsTab'"
                    [selectedDeviceId]="rowData.devId"
                  ></app-analytics>
                </div>
                <div
                  class="tab-pane fade mb-5 mt-3"
                  [class.show]="currentTab === 'historyTab'"
                  [class.active]="currentTab === 'historyTab'"
                >
                  <app-history
                    *ngIf="currentTab === 'historyTab'"
                    [deviceId]="rowData.devId"
                  ></app-history>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    