<table>
  <tr *ngFor="let data of data" (click)="expandRow(data.devId)">
    <td>{{ data.devId }}</td>
  </tr>
  <tr *ngIf="isExpanded">
    <td colspan="2">
      <div class="expanded-content">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a 
              class="nav-link" 
              [class.active]="currentTab === 'viewTab'" 
              (click)="switchTab('viewTab')">
              View
            </a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link" 
              [class.active]="currentTab === 'analyticsTab'" 
              (click)="switchTab('analyticsTab')">
              Analytics
            </a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link" 
              [class.active]="currentTab === 'historyTab'" 
              (click)="switchTab('historyTab')">
              History
            </a>
          </li>
        </ul>  
        <div class="tab-content">
          <div 
            class="tab-pane fade" 
            [class.show]="currentTab === 'viewTab'" 
            [class.active]="currentTab === 'viewTab'">
            <app-view *ngIf="currentTab === 'viewTab'" [selectedDeviceId]="selectedDeviceId" ></app-view>
          </div>
          <div 
            class="tab-pane fade" 
            [class.show]="currentTab === 'analyticsTab'" 
            [class.active]="currentTab === 'analyticsTab'">
            <app-analytics *ngIf="currentTab === 'analyticsTab'" [selectedDeviceId]="selectedDeviceId" ></app-analytics>
          </div>
          <div 
            class="tab-pane fade" 
            [class.show]="currentTab === 'historyTab'" 
            [class.active]="currentTab === 'historyTab'">
            <app-history *ngIf="currentTab === 'historyTab'" [deviceId]="selectedDeviceId" ></app-history>
          </div>
        </div>          
      </div>
    </td>
  </tr>
</table>
